div{
    border: 2pt solid black;
}

#container {
    border-radius: 5px; /* shorthand for all sides */
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 75%;
    background-color: gray;
  }
#container div{
    width: 80px;
    height: 80px;
}

#container > div:nth-child(odd){
    background-color: darkgreen;
}
#container > div:nth-child(even){
    background-color: white;
}
